body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
.fa-btn {
    margin-right: 6px;
}
.main-catalog-box {
    text-align: center;
    margin: 15px 0;
}
.list-group-item > .badge {
    margin-top:2px;
}